<aside>
    <ul id="topics_menu">
        <% topicNames.forEach(item => { %>
            <li id="<%= item %>" class="topic">
                <span><%= item %></span>
                <ul class="subtopic">
                    <% if (item === "guides") { %>
                        <% guides.forEach(el => { %>
                            <li data-id="<%= el._id %>" class="subtopic-item">
                                <%= el.technology %>
                            </li>
                        <% }) %>
                    <% } else if (item === "responses") { %>
                        <% responses.forEach(el => { %>
                            <li data-id="<%= el._id %>" class="subtopic-item">
                                <%= el.subCategory %>
                            </li>
                        <% }) %>
                    <% } %>
                </ul>
            </li>
        <% }) %>
    </ul>
</aside>